@import "tailwindcss";

:root {
  font-family: Avenir-Roman, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: underline;
}
a:hover {
  /* color: #535bf2; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.1;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}

h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}

h4 {
  font-size: 1em;
  margin: 1.12em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.5em 0;
}

h6 {
  font-size: 0.67em;
  margin: 1.67em 0;
}

/* Color Themes */
@theme {
  --color-primary: #0097b2;
  --color-secondary: #bfd1a0;
  --color-dark: #1a0202;
  --color-light: #ffffff;
  --color-accent-1: #eee3e3;
  --color-accent-2: #4a6e73;
  --font-avenir-black: Avenir-Black, "sans-serif";
  --font-avenir-roman: Avenir-Roman, "sans-serif";
}

.btn-primary {
  border-radius: 18px;
  border: 1px solid transparent;
  padding: 0.4em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

.btn-primary:hover {
  background-color: #007a8e;
  transition: background-color 0.2s ease-in
}

.btn-light {
  border-radius: 18px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-light);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--color-primary);
}

.btn-dark {
  border-radius: 18px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-dark);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
