@import "tailwindcss";

@font-face {
  font-family: "Avenir-Black";
  src: url("/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: "Avenir-BlackOblique";
  src: url("/AvenirLTStd-BlackOblique.otf");
}

@font-face {
  font-family: "Avenir-Roman";
  src: url("/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: "Avenir-RomanOblique";
  src: url("/AvenirLTStd-RomanOblique.otf");
}
