@font-face {
  font-family: "Avenir-Black";
  src: url("../src/assets/fonts/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: "Avenir-Roman";
  src: url("../src/assets/fonts/AvenirLTStd-Roman.otf");
}
